<div class="page-header">
  <%= link_to new_card_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Card
  <% end %>
  <h1>Your Card(s)</h1>
</div>

<div class="table-responsive cards">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Profession</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Websites</th>
        <th>Skills</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cards) do |card| %>
            <td><%= card.name %></td>
            <td><%= card.profession %></td>
            <td><%= card.email %></td>
            <td><%= card.phone %></td>
            <td><%= card.websites %></td>
            <td><%= card.skills %></td>
             <!-- <td><%= card.completed %></td> -->
<!--             <td>
            <%= link_to("/cards/#{card.id}/toggle_completed") do %>
              <% if card.completed %>
                <span class="glyphicon glyphicon-ok"></span>
              <% else %>
                <span class="glyphicon glyphicon-unchecked"></span>
              <% end %>
             <% end %>
            </td> -->
            <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
