<div class="page-header">
<!--   <%= link_to cards_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %> -->
<!--   <%= link_to edit_card_path(@card), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %> -->
 <!--  <h1>Show card</h1> -->
 <h1>Here's My Card</h1>
</div>

<!-- From Bootstrap, this is a div, class="card" to form a visual outline of a business/professional card -->

<div class="card">
<!--   <img class="card-img-top" data-src="..." alt="Card image cap"> -->
  <div class="card-block">
<!--     <h4 class="card-title"></h4>
    <p class="card-text">"Text Here"</p> -->
  </div>
  <ul class="list-group list-group-flush">
<!--  Example to form more list items below
   <li class="list-group-item">  </li> -->
    <li class="list-group-item"> <h2><b><dd><%= @card.name %></dd></b></h2> </li>
    <li class="list-group-item"> <dt>Profession:</dt><dd><%= @card.profession %></dd> </li>
    <li class="list-group-item">  <dt>Email:</dt>
  <dd><%= @card.email %></dd></li>
    <li class="list-group-item">  <dt>Phone:</dt>
  <dd><%= @card.phone %></dd></li>
    <li class="list-group-item">   <dt>Websites:</dt>
  <dd><%= @card.websites %></dd></li>
    <li class="list-group-item">  <dt>Skills:</dt>
  <dd><%= @card.skills %></dd></li>
  </ul>
<!--   <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
</div>

<dl class="dl-vertical">
<!--   <dt>Card Name:</dt>
  <dd><%= @card.card_name %></dd> -->

  <dt>Name:</dt>
  <dd><%= @card.name %></dd>

  <dt>Profession:</dt>
  <dd><%= @card.profession %></dd>

  <dt>Email:</dt>
  <dd><%= @card.email %></dd>

  <dt>Phone:</dt>
  <dd><%= @card.phone %></dd>

   <dt>Websites:</dt>
  <dd><%= @card.websites %></dd>

  <dt>Skills:</dt>
  <dd><%= @card.skills %></dd>

<!--   <dt>Created:</dt>
  <dd><%= @card.created_at %></dd> -->

</dl>
